Thumbs.db
*.user
*.user.*
*.aps
*.exe
*.pch*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
*.rc
deploy/
build/
obj/
.vs/
_[Aa]rchive*/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
packages/Makefile
Makefile.*
*Makefile
*.orig
*.autosave
*.Debug
*.Release
*.stash
*.zip
*.rar
*.opt
*-old/
*_old/
moc_*
hooks/
*/bin
*/*.user
*/build
onb/androbin
onb/android-bin/
bin-android
bin-msvc
android-bin


