Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.user.*
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*[Dd]ebug/
*[Rr]elease/
build-*/
build*/
*.lib
*.sbr
obj/
.svn
.svn/
_ReSharper*/
deploy/
*-old/
*_old/
moc_*
hooks/
*/bin
*/*.user
*/build
onb/androbin
onb/android-bin/
bin-android/
bin-msvc/
android-bin
*.stash
Makefile
*.Makefile
Makefile*

bin64/
